<%
# Sphinx Pages plugin for Redmine
# Copyright (C) 2012 Daisuke Miura
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-%>
<div id="sphinx_pages_settings">
  <script type="text/javascript">
  function is_valid_expression(field) {
    if (field.value == '') {
      return false;
    }

    try {
      new RegExp(field.value);
    }
    catch (e) {
      alert(e);
      return false;
    }

    return true;
  }
</script>

  <%
  @sphinx_pages_setting = SphinxPagesProjectSetting.find_or_create(@project)
%>

  <% labelled_tabular_form_for :setting, @sphinx_pages_setting,
    :url => {:controller => 'sphinx_pages_settings',
    :action => 'update', :id => @project, :tab => 'sphinx_pages',
    :partial => 'sphinx_pages/settings/update',
    :setting_id => @sphinx_pages_setting.id}, :html => {:id => 'sphinx_pages_form'} do |f| %>
    <%= error_messages_for 'sphinx_pages_setting' %>
    <div class="box">
      <%= f.hidden_field :lock_version %>
      <p><%= f.check_box :tracker_in_review_dialog %></p>

      <b><%=h l(:select_tracker_for_sphinx_pagess)%>:</b>
      <p><%= f.select :tracker_id, @project.trackers.collect {|t| [t.name, t.id]}, :required => true %></p>

      <p>
        <%= f.check_box :hide_sphinx_pages_tab %>
      </p>

      </div>

    </div>
    <%= submit_tag l(:button_update) %>
  <% end %>
</div>
